<div class="row">

    <div class="col-6">
        <app-donnut [label] = "label1" 
                    [doughnutChartData] = "sizes"
        ></app-donnut>
    </div>

    <div class="col-6">
      <app-donnut [label] = "label1" 
                  [doughnutChartData]
        ></app-donnut>
    </div>

</div>

<div class="row">

  <div class="col-6">
    <app-donnut title="como ño"
                [label] 
                [doughnutChartData] = "sizes"
        ></app-donnut>
  </div>

  <div class="col-6">
    <app-donnut [label]
                [doughnutChartData]
        ></app-donnut>
  </div>

</div>