<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text"
                        class="form-control"
                        placeholder="Buscar"
                        (keyup)="buscarMedico(txtSearch.value)"
                        #txtSearch/>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
       <div class="alert alert-info text-center">
           <h4 class="alert-heading">Cargando</h4>
           <i class="fa fa-spin fa-refresh fa-2x"></i>
           <p class="mb-0">Un momento por favor</p>
       </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <a class="btn btn-primary"
                        routerLink="./nuevo">
                        <i class="ti-user"></i>
                        Nuevo
                    </a>
                </div>
                <h3 class="card-title">Medicos</h3>
                <h4 class="card-subtitle"> Medicos Registrados</h4>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w150">Imagen</th>
                                <th>Nombre</th>
                                <th class="text-nowrap w150">Acciones </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medico of medicos">
                                <td class="text-center">
                                    <img [src]="medico.img | imagen:'medicos'" 
                                         [alt]="medico.nombre"
                                         class="avatar cursor"
                                         (click)="abrirModal(medico)"
                                    >
                                </td>
                                <td>
                                    <input type="text" 
                                    class="form-control" 
                                    placeholder="Nombre de hospital"
                                    [(ngModel)]='medico.nombre'>
                                </td>
                                
                                <td   class="text-nowrap text-center">
                                    <a data-toggle="tooltip" 
                                        data-original-title="Guardar" 
                                        class="cursor"
                                        [routerLink]='medico._id'> 
                                        <i class="fa fa-save text-info m-r-10"></i>
                                    </a>
                                    <a data-toggle="tooltip" 
                                        data-original-title="Borrar" 
                                        class="cursor"
                                        (click)="eliminarMedico(medico)"> 
                                        <i class="fa fa-close text-danger"></i>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <!--<div class="text-center" *ngIf="txtSearch.value.length===0">
                    <button class="btn btn-secondary">
                        Anterior
                    </button>
                    &nbsp;
                    <button class="btn btn-secondary">
                        Siguiente
                    </button>
                </div>-->
            </div>
        </div>
    </div>
</div>

